<% if (task.questions.length > 0){ %>

<div class="container">
    <div id="questions">
        <h3>课后练习</h3>

        <% for (var i = 0;i < task.questions.length;i++){ %>

        <div>
            <h4><span><%= i + 1 %>、</span><%= task.questions[i].question %></h4>
            <div class="radio">
                <%  var tags = ['A','B','C','D','E','F','G']
                    var select = task.questions[i].select;
                        for(var key in  select) { %>
                <label >
                    <input type="radio" name="<%= i%>"><span>
                            <%= tags[key] %> </span><%= select[key]%>
                </label>
                <br>
                <% } %>
            </div>
        </div>
        <% } %>

        <!--提交按钮-->
        <div class="answerBtn">
            <span class="caution">*题目有遗漏，请检查再提交~</span>
            <div id="subQuestions" class="btn btn-danger btn-block btn-lg">提 交 答 案</div>
            <i></i>
        </div>
    </div>
</div>


<% } %>