<% include layout/head.ejs %>
<link rel="stylesheet" href="/system/css/members.css">
<style type="text/css">
    table {
        margin-top: 6px;
    }

    table input {
        text-align: center;
        width: 80%;
        border: 0;
        background: none;
    }
</style>
</head>

<body>
<% include layout/fixTop.ejs %>
<!-- <div class="space-h50"></div> -->
<div id="wrap">
    <!-- 侧边栏开始 -->
    <% include layout/leftNav.ejs %>
    <!-- 侧边栏结束 -->
    <!-- 正文开始 -->
    <div class="main">
        <!-- 路径导航 -->
        <ol class="breadcrumb">
            <li class="active">科室信息</li>
        </ol>
        <!-- 显示table的详情 -->
        <div class="col-md-8">
            <span>* 鼠标点击科室即可进行修改</span>
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>科室</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <%
                for(var i = 0;i < departments.length;i++){
                %>
                <tr number="<%= departments[i].number %>">
                    <td><%= departments[i].number %></td>
                    <td>
                        <input type="text" key="<%= departments[i]._id %>" content="<%= departments[i].name %>"
                               value="<%= departments[i].name %>">
                    </td>
                    <td>
                        <button key="<%= departments[i]._id %>" class="del btn btn-link btn-sm">
                            <i class="glyphicon glyphicon-trash"></i> 删除
                        </button>
                    </td>
                </tr>
                <%
                }
                %>

                </tbody>
            </table>
            <button class="btn btn-primary">+ 添加科室</button>
        </div>

    </div>
</div>

<% include layout/script.ejs %>
<script>
    $(function () {
        // 保存科室
        function save(inp) {
            var trimValue = inp.val().trim();
            var number = inp.attr('number')
            var _url = '/admin/department/add'
            var department = {
                number: number,
                name: trimValue
            }
            if (trimValue.length) {
                $.ajax({
                    type: 'post',
                    url: _url,
                    dataType: 'json',
                    data: department,
                    success: function (result) {
                        if (result.state) {
                            layer.msg(result.msg, {icon: 1});
                        } else {
                            layer.msg('添加失败！', {icon: 5});
                        }
                    }
                })
            }
        }

        // 添加科室
        $('.btn-primary').click(function () {
            var len = $('tbody tr:last').attr('number') * 1 + 1;
            var oTr = $('<tr number="' + len + '"><td>' + len + '</td><td><input number="' + len + '" type="text" value=""></td><td><button class="del btn btn-link btn-sm"><i class="glyphicon glyphicon-trash"></i> 删除</button></td></tr>');
            var lastTr;

            $('tbody').append(oTr);
            lastTr = oTr.last();

            //自动聚焦、失去焦点保存
            lastTr.find('input').focus().on('blur', function () {
                var _this = $(this);
                var trimValue = _this.val().trim();
                if (trimValue.length === 0) {
                    lastTr.remove();
                    return;
                }
                save(_this);
            });
        });

        // 修改科室
        $('input').on('blur', function () {
            var oInput = $(this);
            if (oInput.attr('content') == oInput.val().trim()) return;
            _url = '/admin//department/update/' + oInput.attr('key') + '?name=' + oInput.val().trim()
            layer.confirm('确定修改科室名字？', {
                btn: ['修改', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: 'get',
                    url: _url,
                    success: function (result) {
                        if (result.state) {
                            layer.msg(result.msg, {icon: 1});
                        } else {
                            layer.msg('修改失败！', {icon: 5});
                        }
                    }
                })
            }, function () {
                oInput.val(oInput.attr('content'))
            });

        });

        // 删除科室
        $('.del').on('click', function () {
            var pa = $(this).parents('tr')
            var _url = "/admin/department/remove/" + $(this).attr('key');
            layer.confirm('您是确定删除！', {
                btn: ['删除', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: 'get',
                    url: _url,
                    success: function (result) {
                        if (result.state) {
                            pa.remove()
                            layer.msg(result.msg, {icon: 1});
                        } else {
                            layer.msg('删除失败！', {icon: 5});
                        }
                    }
                })
            }, function () {
            });
        })

    });

</script>
</body>

</html>
